@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.auth-inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    color: black;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 50px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    margin-top: 100px;
}

.div--center {
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background: rgba(35, 216, 248, 0.959);

}

.name-style {
    margin-top: 10px;
    max-width: 400px;
    line-height: 10px;
    padding-block: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #f15079ea;
}

.address-style {
    max-width: 400px;
    line-height: 10px;
    font-size: 20px;
    color: #000000;
}